################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Data_Structure_and_Algorithm/.vs/Data_Structure_and_Algorithm/v16/Browse.VC.opendb
*.db
